/* BASE - Base styles, variables, mixins, normalize */
/* Background Colors */
/* Website's Width */
#container {
  padding-top: 10px;
  background-color: #2ecc71;
}
#container .container {
  width: 1200px;
}

/* MODULES - Individual site components */
/* Sections */
section {
  padding: 60px 0px;
}

.section-features {
  background-color: #ffffff;
}
.section-features .feature-content .icon {
  font-size: 50px;
}
.section-features .feature-content .icon a {
  color: #ffffff;
}
.section-features .feature-content .icon:hover {
  cursor: pointer;
}
.section-features .feature-content .icon:hover .icon-background {
  color: rgba(0, 0, 0, 0.45);
}
.section-features .feature-content .icon .icon-background {
  color: #2ecc71;
}
.section-features .feature-content a {
  color: #333;
}
.section-features .feature-content h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.section-features .feature-content p {
  font-size: 16px;
  color: #848484;
}

.section-get-notifield {
  background-color: #e3e3e3;
}
.section-get-notifield h2 {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.section-get-notifield p {
  font-size: 16px;
  color: #848484;
  margin-bottom: 30px;
}
.section-get-notifield .notify-form input {
  border-radius: 10px 0px 0px 10px;
}
.section-get-notifield .notify-form .notify-confirm {
  padding: 13px 32px;
  background-color: #2ecc71;
  background-image: none;
  color: #ffffff;
  letter-spacing: 1px;
  margin-left: -6px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}
.section-get-notifield .video-container {
  float: right;
  width: 87.72%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.section-get-notifield .video-container iframe {
  float: right;
  width: 100%;
}

/* LAYOUTS - Page layout styles*/
/* Header */
.header-main {
  position: relative;
}
.header-main img {
  width: 100%;
  height: auto;
  position: relative;
}
.header-main .header-information {
  color: #ffffff;
  position: absolute;
  top: 22%;
  width: 39%;
  left: 40%;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-main .header-information .brand-dot {
  color: #2ecc71;
}
.header-main .header-information h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
.header-main .header-information p {
  font-size: 24px;
}
.header-main .header-information .icon a {
  color: #ffffff;
}
.header-main .header-information .icon:hover {
  cursor: pointer;
}
.header-main .header-information .icon:hover .icon-background {
  color: #2ecc71;
}
.header-main .header-information .icon .icon-background {
  color: rgba(0, 0, 0, 0.45);
}

/* Footer */
.footer-main {
  color: #848484;
}
.footer-main .top-footer {
  padding: 60px 0px;
  background-color: #ffffff;
}
.footer-main .top-footer .slider .item-slider p {
  width: 63%;
  margin: 20px auto;
}
.footer-main .top-footer .slider .item-slider h4 {
  font-size: 18px;
  color: #333;
}
.footer-main .top-footer .img-author {
  margin-top: 10px;
  margin-bottom: 60px;
  padding-top: 5px;
}
.footer-main .top-footer .img-author a {
  background: rgba(0, 128, 0, 0.8);
  display: inline-block;
  margin-top: 4px;
}
.footer-main .top-footer .img-author a img {
  height: 50px;
  width: 50px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.footer-main .top-footer .img-author a img:hover {
  cursor: pointer;
  opacity: .5;
}
.footer-main .top-footer h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 25px;
}
.footer-main .top-footer p {
  font-size: 16px;
  margin-bottom: 25px;
}
.footer-main .top-footer a {
  color: #ffffff;
}
.footer-main .top-footer .icon {
  color: #ffffff;
}
.footer-main .top-footer .icon:hover {
  cursor: pointer;
}
.footer-main .top-footer .icon:hover .icon-background {
  color: #2ecc71;
}
.footer-main .top-footer .icon .icon-background {
  color: #d4d4d4;
}
.footer-main .bottom-footer {
  background-color: #e3e3e3;
  padding: 4.08% 0;
}
.footer-main .bottom-footer a {
  color: #848484;
  margin-right: 40px;
}

/* Responsive Fix */
/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  /***
   * Fix container width
   */
  #container .container {
    width: 940px;
  }

  /***
   * Fix float iframe
   */
  .section-get-notifield .notify-form {
    margin-bottom: 30px;
  }
  .section-get-notifield .video-container {
    float: none;
  }
}
/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /***
   * Fix container width
   */
  #container .container {
    width: 750px;
  }

  /**
  ** Fix position Header information
  **/
  .header-main .header-information {
    top: 8%;
  }
  .header-main .header-information h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .header-main .header-information p {
    font-size: 18px;
  }

  /***
   * Fix float iframe
   */
  .section-get-notifield .notify-form {
    margin-bottom: 30px;
  }
  .section-get-notifield .video-container {
    float: none;
  }
}
/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /***
   * Fix container width
   */
  #container .container {
    width: 450px;
  }

  /**
  ** Fix position Header information
  **/
  .header-main .header-information {
    top: 3%;
  }
  .header-main .header-information h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .header-main .header-information p {
    font-size: 14px;
  }

  /***
   * Fix float iframe
   */
  .section-get-notifield iframe {
    float: none;
  }
  .section-get-notifield .notify-form input {
    border-radius: 0px;
  }
  .section-get-notifield .notify-form .notify-confirm {
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .section-get-notifield .video-container {
    float: none;
  }

  /***
   * Fix margin bottom-header
   */
  .footer-main .bottom-footer a {
    margin-right: 30px;
  }
}
/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
  /***
   * Fix container width
   */
  #container .container {
    width: 250px;
  }

  /**
  ** Fix position Header information
  **/
  .header-main .header-information {
    display: none;
  }

  /***
   * Fix float iframe
   */
  .section-get-notifield iframe {
    float: none;
  }
  .section-get-notifield .notify-form input {
    border-radius: 0px;
  }
  .section-get-notifield .notify-form .notify-confirm {
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .section-get-notifield .video-container {
    float: none;
  }
  .section-get-notifield .video-container iframe {
    float: left;
    width: 100%;
    height: 200px;
  }

  /***
   * Fix margin bottom-header
   */
  .footer-main .bottom-footer a {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
